* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#eddbad;
}

.melonmuskstyle{
  margin-left: auto;
  margin-right: auto;
  width: 200%;
}

.contents {
	color:black;
	position:relative; left:10px; top:-300px;
	font-size:10px;
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}



.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}