* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    background-color:#eddbad;
}

.melonmuskstyle{
  bottom: 0;
  right: 0;
}

.contents {
	color:black;
	font-size:10px;
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}



.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}