

* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    background-color:#eddbad;
}

.melonmuskstyle{
	position: absolute;
 	top: 0px;
 	left: 0px;
}

.ElonMuskTitle {
	position: absolute;
	top: 180px;
	left: 50px;
	color: transparent;
	animation-name: titleFade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	font-weight:bold;
	font-size:50px;
}

@keyframes titleFade{
	0%{text-shadow: tan 0px 0 100px;}
	100%{text-shadow: black 0px 0 1px;}
}


.content_text {
	font-weight:bold;
	font-size:5em;
	color:#fff;
}